@model WebMVC.Areas.Admin.Models.User
<h3>Введите данные для изменение </h3>
<form asp-action="Edit" asp-controller="User" mmethod="post" asp-antiforgery="true" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="Id" hidden />
        <div class="form-group">
            <label asp-for="Name"><b>Имя</b></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"><b>Фамилия</b></label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>     
         <div class="form-group">
            <label asp-for="Password"><b>Пароль</b></label>
            <input type="text" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>     
         <div class="form-group">
            <label asp-for="ConfirmPassword"><b>Подвердите пароль</b></label>
            <input type="text" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>     

       
       
        <div class="form-group" >
            <input  type="submit" value="Авторизоватся" class="form-control btn" />
             <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Выход</a>
        </div>
    </div>
</form>

